@model IEnumerable<CodeTestingPlatform.DatabaseEntities.Local.UserCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<h4>Courses</h4>
<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-col-xl-5">
    @foreach (var course in Model) {
        <div class="col mb-3 d-flex">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-controller="Course" asp-route-id="@course.Course.CourseId">@course.Course.CourseName</a>
                    </h5>
                    <p class="card-subtitle">
                        @course.Course.CourseCode
                    </p>
                </div>
            </div>
        </div>
    }
</div>