@model IEnumerable<CodeTestingPlatform.DatabaseEntities.Local.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-col-xl-5">
    @foreach (var course in Model) {
        <div class="col mb-3">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-route-id="@course.CourseId">@course.CourseName</a>
                    </h5>
                    <p class="card-subtitle">
                        @course.CourseCode
                    </p>
                </div>
            </div>
        </div>
    }
</div>
